{% extends "wine_wiki/base.html" %} {% block content %}
<h1>Autofill Match Review</h1>

<p>Number of rows: {{formset|length}}</p>

<h2>Results</h2>

<form method="post" action="">
    <input type="submit" value="OK" />
    {% csrf_token %} {{formset.management_form}}
    <table class="fuzzy_match_results">
        <colgroup>
            <!-- <col style="width: 40%" /> -->
            <!-- <col style="width: 40%" /> -->
            <!-- <col style="width: 10%" /> -->
            <!-- <col style="width: 10%" /> -->
        </colgroup>
        <tr>
            <th>entry to be linked</th>
            <th>wiki entry</th>
            <th>linking from</th>
            <th>review</th>
        </tr>
        {% for form in formset %} {% for field in form.hidden_fields %}
        {{field}} {% endfor %}
        <tr>
            <td>{{ form.instance.wine_list_left}}</td>
            <td>{{ form.instance.wiki }}</td>
            <td>{{form.instance.wine_list_right}}</td>
            <td>{{ form.review }}</td>
        </tr>

        {% endfor %}
    </table>
</form>

<p>form ends here.</p>
{% endblock %}
